{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Homepage</h1>
            <div data-reflow-type="product-list" data-reflow-order="date_desc">
                <div class="reflow-product-list">
                    <div class="ref-products">
                        {% for pro in products %}
                        <div class="ref-product"><img class="ref-image" src="{{pro.image}}" loading="lazy" />
                            <div class="ref-product-data">
                                <div class="ref-product-info">
                                    <h5 class="ref-name">{{ pro.name }}</h5>
                                </div>
                                <p class="ref-price">{{ pro.price }}</p>
                            </div>
                        </div>
                        <hr size="300">
                        {% endfor %}
                        <!-- button for next page -->
                        {% if not (page==1) %}
                        <a href="{{ url_for('index',page=page-1) }}">
                            <button class="btn btn-primary" id="next-page"">Previous Page</button>
                        </a>
                        {% endif %}
                        {% if page<=pages %}
                        <a href="{{ url_for('index',page=page+1) }}">
                            <button class="btn btn-primary" id="next-page"">Next Page</button>
                        </a>
                        {% endif %}                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}